.admin-table{
    position:absolute ;
    left: 20%;
    top:5%;
    width: 1000px;
    height: 500px;
}
body{
    background-color: darkturquoise;
}

.delete-table{
    position:absolute ;
left: 20%;
top:45%
}
.update-table{
position:absolute ;
left: 60%;
top:45%
}
#btn-update{
    
  
}
